*
  margin: 0
  padding: 0
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  font-family: 'Source Sans Pro', sans-serif

  > .ember-view
    top: 0
    right: 0
    bottom: 0
    left: 0
    position: fixed
    background: repeat center center
    background-image: linear-gradient(to top, rgba(18,25,44,1) 5%, rgba(18,25,44,0)), url('/images/bg.png')

    &::before
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: -1
      position: fixed
      content: ''
      display: block
      border-image: url('/images/site-border.png') 261 277 261 264 repeat
      border-style: solid
      border-width: 201px 207px 201px 204px

      @media (max-width: 1024px)
        border-width: 151px 157px 151px 154px

      @media (max-width: 768px), (max-height: 700px)
        border-width: 101px 107px 101px 104px

section
  margin: 55px 0
  height: calc(100% - 110px)
  overflow: hidden

  @media (max-width: 1024px)
    margin: 42px 0
    height: calc(100% - 84px)

  @media (max-width: 768px), (max-height: 700px)
    margin: 28px 0
    height: calc(100% - 56px)

  .scrollable
    padding: 55px 110px
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    overflow: scroll
    -webkit-overflow-scrolling: touch

    @media (max-width: 1024px)
      padding: 42px 84px

    @media (max-width: 768px), (max-height: 700px)
      padding: 28px 56px

h1
  display: flex
  align-items: center
  flex: 1
  justify-content: center
  color: transparent
  font-size: 0

  @media (max-width: 1024px)
    min-height: 250px

  @media (max-width: 768px), (max-height: 700px)
    min-height: 185px

img
  width: 250px
  max-width: 50%

  @media (max-width: 1024px)
    width: 200px

  @media (max-width: 768px), (max-height: 700px)
    width: 150px

nav
  padding: 20px 0
  min-height: min-content
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  justify-content: center

  $buttonHeight: 5px

  a
    position: relative
    margin: 20px
    padding: 0 60px
    height: 110px
    display: flex
    align-items: center
    justify-content: center
    background: repeat center center
    background-image: linear-gradient(to top, rgba(18,25,44,1) 5%, rgba(18,25,44,0)), url('/images/bg.png')
    border-radius: 55px
    box-shadow: 0 -1px 0 25px black inset, 0 2px 5px 25px hsl(213,75%,65%) inset
    color: white
    font-size: 24px
    font-weight: 600
    text-decoration: none

    @media (max-width: 768px), (max-height: 700px)
      padding: 0 40px
      height: 80px
      flex: 1
      box-shadow: 0 0 0 19px black inset, 0 2px 5px 19px hsl(223,75%,65%) inset

    &::before
      top: 0
      right: 0
      bottom: 0
      left: 0
      position: absolute
      content: ''
      display: block
      border-image: url('/images/button-border.png') 55 55 55 55 repeat
      border-style: solid
      border-width: 55px

      @media (max-width: 768px), (max-height: 700px)
        border-width: 40px

    svg
      margin-right: 10px

  .followers
    margin-left: 5px
    padding: 2px 7px 4px
    display: inline-block
    background: rgba(0,0,0,0.4)
    border-top: 1px solid rgba(0,0,0,0.25)
    border-radius: inherit
    font-size: 0.6em
    text-shadow: 0 1px 0 rgba(0,0,0,0.25)

footer
  padding: 20px 0 0

  &, *
    color: rgba(255,255,255,0.25)
    text-align: center
    text-decoration: none
    text-shadow: 0 1px 0 rgba(0,0,0,0.5)
    transition: color 200ms ease

  a:hover
    color: rgba(255,255,255,0.5)
